* {margin: 0;}  /* Очень частый приём, который используется в вёрстке — выравнивание блочного элемента по центру родителя при помощи margin: 0 auto */
html{
    background-image:url('background.png');
    font-family: Georgia, "Century Schoolbook L", Serif;
}

h1 {
    color: darkgreen;
    margin-bottom: 3px;
}

h2 {
    color: green;
    margin-bottom: 10px;
}

.general {
    width: 390px; 
    margin: 50px auto;
}
p {
    text-align: justify; 
    margin-bottom: 10px;
}

span {
    font-size: 120%;
}

.link {
    text-align: center; 
    font-size: 80%;
    color: blue;
}


